body {
  margin: 0;
}
#header {
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 80px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #d6c0b3;
  top: 0;
}

h1 {
  margin: 0;
  height: 80px;
}

h2 {
  font-weight: bold;
}

.logo {
  height: 80px;
}

#myLinks {
  list-style: none;
  padding: 5px;
  text-align: center;
  margin: 0;
  display: none;
}

.menu {
  position: fixed;
  width: 100%;
  top: 80px;
  padding: 0;
  background: #d6c0b3;
  z-index: 15;
  left: 0;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: capitalize;

  transition: opacity 0.5s;
}

.menu-btn {
  display: none;
}

/* hamburger icon */
.menu-icon {
  display: inline-block;
  position: relative;
  padding: 20px;
  cursor: pointer;
  z-index: 20;
  background: transparent;
}

.navicon {
  background: gray;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: gray;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* upper line animation */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

/* down line animation */
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

/* start location */
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

/* center line */
.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

button {
  background-color: #ab886d;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 20px;
}

button:hover {
  background-color: #493628;
}

#footer {
  background-color: #d6c0b3;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logos ul {
  display: flex;
  list-style-type: none;
  padding-right: 10px;
}

.footer-logos ul li a {
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #493628;
}

#footer-nav {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#footer-nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #493628;
}

.copyright {
  text-align: center;
  color: #ab886d;
  padding: 10px;
  margin: 0;
}

/* pages */

main {
  margin-top: 80px;
}

#page-header {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

#page-header h2 {
  text-align: center;
  padding: 30px 0;
  margin: 0;
  font-size: 38px;
  color: #493628;
}

#content {
  margin: 30px 10px;
}

@media only screen and (min-width: 601px) {
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #header label {
    display: none;
  }

  #header #myLinks {
    display: flex;
    border-top: none;
    justify-content: flex-end;
  }

  .menu {
    position: initial;
  }

  nav li {
    display: inline-block;
  }

  .menu a {
    font-size: 15px;
  }

  nav li:hover {
    border-bottom: 2px solid #493628;
  }

  #content {
    margin: 30px 35px;
  }

  #page-header h2 {
    padding: 45px 0;
    font-size: 40px;
  }

  #footer-nav {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  #footer-nav li a {
    font-size: 16px;
    font-weight: normal;
  }

  #footer-nav li:hover {
    font-weight: bold;
    border: none;
  }

  #footer-nav li a:hover {
    font-weight: bold;
  }
}
