body {
  margin: 0;
}
#header {
  overflow: hidden;
  position: relative;
  background-color: #d6c0b3;
}

h1 {
  margin: 0;
  height: 100px;
}

.logo {
  height: 80px;
  margin: 10px;
}

#header #myLinks {
  display: none;
  list-style: none;
  padding: 5px;
  text-align: center;
  border-top: 1px solid #493628;
  margin: 0;
}

nav ul li {
  padding: 15px 10px;
}

#header #myLinks a {
  text-decoration: none;
  color: #493628;
  font-weight: bold;
  font-size: 22px;
}

a.icon {
  margin: 20px;
  color: #493628;
  font-size: 50px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

button {
  background-color: #ab886d;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 20px;
}

button:hover {
  background-color: #493628;
}

#footer {
  background-color: #d6c0b3;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logos ul {
  display: flex;
  list-style-type: none;
  padding-right: 10px;
}

.footer-logos ul li a {
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
}

#footer-nav {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#footer-nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #493628;
  font-weight: bold;
}

.copyright {
  text-align: center;
  color: #ab886d;
  padding: 10px;
  margin: 0;
}

@media only screen and (min-width: 601px) {
  a.icon {
    display: none;
  }

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #header #myLinks {
    display: flex;
    border-top: none;
  }

  nav li {
    display: inline-block;
  }

  nav li:hover {
    border-bottom: 2px solid #493628;
  }

  #header #myLinks a {
    font-size: 18px;
  }

  #footer-nav {
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
